/* 

.titleHeader {
  background-color: #00b4d8;
  color: white;
  padding: 2rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.titleHeader h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.titleHeader h3 {
  font-size: 1.2rem;
  font-style: italic;
}


@media (max-width: 768px) {
  .titleHeader h2 {
    font-size: 1.5rem;
  }

  .titleHeader h3 {
    font-size: 1rem;
  }
} */

.titleHeader {
  background-color:#00b4d8;
  color: white;
  padding: 1.5rem;
  text-align: center;
}

.titleHeader h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.titleHeader h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .titleHeader {
    padding: 1rem;
  }

  .titleHeader h2 {
    font-size: 1.4rem;
  }

  .titleHeader h3 {
    font-size: 1rem;
  }
}