.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 5fr; /* Header takes 1/6, content takes 5/6 */
  min-height: calc(100vh - 150px);
}

.content {
  padding: 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

@media (max-width: 768px) {
  .main-layout {
    grid-template-columns: 1fr;
  }
}